<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EPICS project</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.4.19/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body data-theme="bumblebee">
    <div class="navbar bg-zinc-50">
        <div class="flex-1">
          <a class="btn btn-ghost text-xl">EPICS Project</a>
        </div>
        <div class="flex-none">
          <ul class="menu menu-horizontal px-1">
            <li><a>Home</a></li>
            <li><a>About us</a></li>
            <li><a>Contact</a></li>
            <li><a href="/login">Login/Signup</a></li>
          </ul>
        </div>
      </div>

      <!-- navbar endd -->

      <div class="hero min-h-screen" style="background-image: url(https://c1.wallpaperflare.com/preview/897/554/435/agriculture-asia-cat-china.jpg);">
        <div class="hero-overlay bg-opacity-60"></div>
        <div class="hero-content text-center text-neutral-content">
          <div class="max-w-md">
            <h1 class="mb-5 text-5xl text-white font-bold">Hello there</h1>
            <p class="mb-5 text-white">Harvest success begins here: Seamlessly connect with the future of farming through cutting-edge crop prediction technology.</p>
            <button class="btn btn-primary">Predict Now</button>
          </div>
        </div>
      </div>
</body>
</html>