<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EPICS project</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.4.19/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body data-theme="bumblebee">
    <div class="navbar bg-zinc-50">
        <div class="flex-1">
          <a class="btn btn-ghost text-xl">EPICS Project</a>
        </div>
        <div class="flex-none">
          <ul class="menu menu-horizontal px-1">
            <li><a>Home</a></li>
            <li><a>About us</a></li>
            <li><a>Contact</a></li>
            <li><a href="/login">Login/Signup</a></li>
          </ul>
        </div>
      </div>

      <!-- navbar endd -->

      <div class="hero min-h-screen" style="background-image: url(https://c1.wallpaperflare.com/preview/897/554/435/agriculture-asia-cat-china.jpg);">
        <div class="hero-overlay bg-opacity-60">
            <!-- Card Section -->
<div class="max-w-2xl px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
    <!-- Card -->
    <div class="bg-white rounded-xl shadow p-4 sm:p-7 null:bg-slate-900">
      <div class="text-center mb-8">
        <h2 class="text-2xl md:text-3xl font-bold text-gray-800 null:text-gray-200">
          Predict
        </h2>
      </div>
  
      <form>
        <!-- Section -->
        <div class="py-6 first:pt-0 last:pb-0 border-t first:border-transparent border-gray-200 null:border-gray-700 null:first:border-transparent">
          <label for="af-payment-billing-contact" class="inline-block text-sm font-medium null:text-white">
            Fill required details
          </label>
  
          <div class="mt-2 space-y-3">
            <div class="my-2">
                <label class="text-sm">Your Pincode</label>
            <input type="text" class="py-2 mt-1 px-3 pe-11 block w-full border border-gray-200 shadow-sm text-sm rounded-lg focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none null:bg-slate-900 null:border-gray-700 null:text-gray-400 null:focus:ring-gray-600" placeholder="Ex: 24303">
            </div>
            <div class="my-2">
                <label class="text-sm">Crop Name</label>
            <input type="text" class="py-2 mt-1 px-3 pe-11 block w-full border border-gray-200 shadow-sm text-sm rounded-lg focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none null:bg-slate-900 null:border-gray-700 null:text-gray-400 null:focus:ring-gray-600" placeholder="Ex: Wheat">
            </div>
            <div class="my-2">
                <label class="text-sm">Land size</label>
            <input type="text" class="py-2 mt-1 px-3 pe-11 block w-full border border-gray-200 shadow-sm text-sm rounded-lg focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none null:bg-slate-900 null:border-gray-700 null:text-gray-400 null:focus:ring-gray-600" placeholder="Ex: 100 ha">
            </div>
          </div>
        </div>
  
        
      </form>
  
      <div class="mt-5 flex justify-end gap-x-2">
        <button type="button" class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none null:bg-slate-900 null:border-gray-700 null:text-white null:hover:bg-gray-800 null:focus:outline-none null:focus:ring-1 null:focus:ring-gray-600">
          Cancel
        </button>
        <button type="button" class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none null:focus:outline-none null:focus:ring-1 null:focus:ring-gray-600">
          Save changes
        </button>
      </div>
    </div>
    <!-- End Card -->
  </div>
  <!-- End Card Section -->
        </div>
       
      </div>
</body>